* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(0.3, 0.2, 0.6, 0.3), rgba(0.1, 0.5, 0.4, 0.3)),  url('image.png');
    background-size: cover;
    position: relative;
}

.info {
    color: white;
    font-size: 20px;
    padding: 20px 70px;
    cursor: pointer;
}

.info span {
    margin: 0 10px;
}

nav {
    width: 100%;
    height: 70px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2em;
    font-family: normal;
    letter-spacing: 2px;
}

.logo i {
    color: #43dde8;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    transition: 0.4s;
}

.menu a:last-child {
    background: #ea0909;
    border-radius: 8px;
}

.menu a:hover {
    background: #172d37;
    border-radius: 8px;
}

.box {
    background: rgb(241, 233, 233);
    width: 450px;
    height: 500px;
    position: absolute;
    top: 25%;
    right: 5%;
    padding: 30px;
    background: linear-gradient(rgba(0.3, 0.2, 0.6, 0.3), rgba(0.1, 0.5, 0.4, 0.3)), url('pexels-photo-1172849.webp');
}

form {
    width: 100%;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0;
    outline: none;
    border: none;
    background: rgba(174, 51, 51, 0.1);
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0;
    outline: none;
    border: none;
    background: #43aee8;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

form input[type="submit"]:hover {
    background: transparent;
    border: 1px solid grey;
    color: black;
}

.htext {
    position: absolute;
    top: 30%;
    left: 5%;
    max-width: 600px;
    color: white;
}

.htext h1 {
    font-size: 2em;
}

.htext h2 {
    font-size: 4em;
}

.htext span {
    color: #f305b3b3;
}

.htext p {
    margin: 15px 0;
    line-height: 5em;
	text-shadow: #172d37;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	
}

.htext a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    letter-spacing: 2px;
    border-radius: 6px;
    transition: 0.4s;
}

.htext a:hover {
    background: #43cae8;
}

footer {
    background-color: #111314;
    color: white;
    padding: 3px 0;
    text-align: center;
    margin-top: 0px;
    height: 220px;
  }
  
  .footer-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family:cursive;
  }
  
  .footer-content p {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .footer-content .socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .footer-content .socials li {
    margin: 0 10px;
  }
  
  .footer-content .socials a {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .footer-content .socials a:hover {
    color: #ff6347;
  }
  
  .footer-bottom {
    background-color: #9e9e9e;
    padding: 10px 0;
    margin-top: 20px;
    height: 40px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #000 ;
  }
  
.socials img {
    width: 45px;
    transition: transform 0.3s ease;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .socials img:hover {
    transform: scale(1.08);
  }

